In [15]:
import requests
import json
import numpy as np
import pandas as pd
from pandas import json_normalize
import geopandas as gpd

In [16]:
df = pd.read_csv('coordinate_df.csv')

### Add `properties.group_name` column

In [17]:
df.rename(columns={"cleaned_type":"properties.group_name"}, inplace=True)

In [18]:
df['properties.group_name'] = df['properties.group_name'].astype('category')

### Add `properties.radius` column

In [19]:
df['properties.radius'] = 5 * np.log10(df.capacity_MW)

### Add `properties.name` column

In [21]:
df.rename(columns={"company":"properties.name"}, inplace=True)

### Add `properties.group_id` column

In [22]:
df['properties.group_name'].cat.categories

Index(['bioenergy', 'coal', 'gas', 'hydro', 'nuclear', 'others', 'solar',
       'wind'],
      dtype='object')

In [23]:
df['properties.group_id'] = df['properties.group_name'].replace(
    {
        cat: n + 1
        for n, cat
        in enumerate(df['properties.group_name'].cat.categories)
    }
)

### Change column names to include `properties.`

In [24]:
df.rename(columns={"plant_count":"properties.COUNT"}, inplace=True)

### Add `properties.headline` column

In [25]:
def add_text(plant_count, group_name, capacity):
    return str(plant_count) + " " + group_name + " plant(s). Capacity: " + str(capacity) + " MW"

In [26]:
df['properties.headline'] = df.apply(lambda x: add_text(x['properties.COUNT'], x['properties.group_name'], x['capacity_MW']), axis=1)

In [27]:
df.sort_values(by=['properties.radius'], ascending=False).head(30)

,properties.COUNT,geometry.coordinates,capacity_MW,properties.group_name,properties.article,properties.radius,properties.group_id,properties.headline
364,1,"[126.5191246, 36.4007416]",5800.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,18.817140,2,1 coal plant(s). Capacity: 5800.0 MW
94,2,"[126.5096353, 37.0326652]",5000.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,18.494850,2,2 coal plant(s). Capacity: 5000.0 MW
379,1,"[126.2247896, 36.8948887]",4000.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,18.010300,2,1 coal plant(s). Capacity: 4000.0 MW
71,2,"[126.5908916, 36.9819022]",3150.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,17.491553,2,2 coal plant(s). Capacity: 3150.0 MW
742,1,"[128.4245023, 36.7573156]",2800.0,nuclear,<div class='plant_list'><P>Type: nuclear\nCapa...,17.235790,5,1 nuclear plant(s). Capacity: 2800.0 MW
910,1,"[129.3845078, 37.0866593]",2800.0,nuclear,<div class='plant_list'><P>Type: nuclear\nCapa...,17.235790,5,1 nuclear plant(s). Capacity: 2800.0 MW
909,1,"[129.3422373, 36.8228854]",2800.0,nuclear,<div class='plant_list'><P>Type: nuclear\nCapa...,17.235790,5,1 nuclear plant(s). Capacity: 2800.0 MW
164,1,"[129.3584669, 35.5154368]",2800.0,nuclear,<div class='plant_list'><P>Type: nuclear\nCapa...,17.235790,5,1 nuclear plant(s). Capacity: 2800.0 MW
612,1,"[128.9541928, 37.7280308]",2120.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,16.631679,2,1 coal plant(s). Capacity: 2120.0 MW
534,1,"[129.1770184, 37.4147184]",2100.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,16.611096,2,1 coal plant(s). Capacity: 2100.0 MW
888,1,"[128.1164472, 34.9149767]",2100.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,16.611096,2,1 coal plant(s). Capacity: 2100.0 MW
378,1,"[126.2312041, 36.8979989]",2100.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,16.611096,2,1 coal plant(s). Capacity: 2100.0 MW
488,1,"[126.48227263966949, 35.81943934257905]",2100.0,solar,<div class='plant_list'><P>Type: solar\nCapaci...,16.611096,7,1 solar plant(s). Capacity: 2100.0 MW
624,1,"[129.3432037, 37.2325164]",2000.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,16.505150,2,1 coal plant(s). Capacity: 2000.0 MW
783,1,"[129.4430326, 35.7910787]",2000.0,nuclear,<div class='plant_list'><P>Type: nuclear\nCapa...,16.505150,5,1 nuclear plant(s). Capacity: 2000.0 MW
365,1,"[126.5692554, 36.3908376]",2000.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,16.505150,2,1 coal plant(s). Capacity: 2000.0 MW
800,1,"[129.2991326, 35.3323776]",2000.0,nuclear,<div class='plant_list'><P>Type: nuclear\nCapa...,16.505150,5,1 nuclear plant(s). Capacity: 2000.0 MW
4,4,"[129.51648868036636, 35.53865916003904]",1932.0,wind,<div class='plant_list'><P>Type: wind\nCapacit...,16.430036,8,4 wind plant(s). Capacity: 1932.0 MW
52,2,"[128.4068799, 34.8996122]",1840.0,gas,<div class='plant_list'><P>Type: gas\nCapacity...,16.324089,3,2 gas plant(s). Capacity: 1840.0 MW
513,1,"[126.7954201, 37.8214984]",1800.0,gas,<div class='plant_list'><P>Type: gas\nCapacity...,16.276363,3,1 gas plant(s). Capacity: 1800.0 MW
253,1,"[126.2949081, 37.7984052]",1740.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,16.202746,2,1 coal plant(s). Capacity: 1740.0 MW
41,2,"[127.1891285, 37.9915306]",1545.0,others,<div class='plant_list'><P>Type: others\nCapac...,15.944642,6,2 others plant(s). Capacity: 1545.0 MW
509,1,"[127.1009159, 37.9067614]",1500.0,gas,<div class='plant_list'><P>Type: gas\nCapacity...,15.880456,3,1 gas plant(s). Capacity: 1500.0 MW
24,3,"[129.35849908473662, 35.51559397107106]",1387.7,gas,<div class='plant_list'><P>Type: gas\nCapacity...,15.711478,3,3 gas plant(s). Capacity: 1387.7 MW
566,1,"[127.0927885, 37.1764742]",1283.9,solar,<div class='plant_list'><P>Type: solar\nCapaci...,15.542656,7,1 solar plant(s). Capacity: 1283.9 MW
213,1,"[126.60847324245631, 37.53605097894146]",1147.0,gas,<div class='plant_list'><P>Type: gas\nCapacity...,15.297817,3,1 gas plant(s). Capacity: 1147.0 MW
576,1,"[128.1126122, 34.9131431]",1120.0,gas,<div class='plant_list'><P>Type: gas\nCapacity...,15.246090,3,1 gas plant(s). Capacity: 1120.0 MW
15,3,"[129.3146114, 35.4346298]",1058.0,wind,<div class='plant_list'><P>Type: wind\nCapacit...,15.122428,8,3 wind plant(s). Capacity: 1058.0 MW
303,1,"[127.0089277, 36.7317626]",1000.0,gas,<div class='plant_list'><P>Type: gas\nCapacity...,15.000000,3,1 gas plant(s). Capacity: 1000.0 MW
373,1,"[126.4973423, 36.1409666]",1000.0,coal,<div class='plant_list'><P>Type: coal\nCapacit...,15.000000,2,1 coal plant(s). Capacity: 1000.0 MW

In [28]:
df[df['properties.group_id']==7]

,properties.COUNT,geometry.coordinates,capacity_MW,properties.group_name,properties.article,properties.radius,properties.group_id,properties.headline
3,5,"[126.7063341, 33.3988071]",94.9,solar,<div class='plant_list'><P>Type: solar\nCapaci...,9.886331,7,5 solar plant(s). Capacity: 94.9 MW
5,4,"[126.7356547, 33.4806289]",63.1,solar,<div class='plant_list'><P>Type: solar\nCapaci...,9.000147,7,4 solar plant(s). Capacity: 63.1 MW
11,3,"[126.559637, 35.9599248]",270.0,solar,<div class='plant_list'><P>Type: solar\nCapaci...,12.156819,7,3 solar plant(s). Capacity: 270.0 MW
14,3,"[126.669278, 37.4380623]",20.1,solar,<div class='plant_list'><P>Type: solar\nCapaci...,6.515980,7,3 solar plant(s). Capacity: 20.1 MW
20,3,"[126.7464887, 35.0046287]",35.0,solar,<div class='plant_list'><P>Type: solar\nCapaci...,7.720340,7,3 solar plant(s). Capacity: 35.0 MW
...,...,...,...,...,...,...,...,...
898,1,"[128.8364784, 36.8267892]",55.0,solar,<div class='plant_list'><P>Type: solar\nCapaci...,8.701813,7,1 solar plant(s). Capacity: 55.0 MW
916,1,"[128.66822605591983, 36.3656026892897]",40.0,solar,<div class='plant_list'><P>Type: solar\nCapaci...,8.010300,7,1 solar plant(s). Capacity: 40.0 MW
918,1,"[128.7614838, 36.4334642]",50.0,solar,<div class='plant_list'><P>Type: solar\nCapaci...,8.494850,7,1 solar plant(s). Capacity: 50.0 MW
935,1,"[128.7449683, 36.5870676]",9.9,solar,<div class='plant_list'><P>Type: solar\nCapaci...,4.978176,7,1 solar plant(s). Capacity: 9.9 MW
936,1,"[128.83163024243228, 36.51575239781046]",9.8,solar,<div class='plant_list'><P>Type: solar\nCapaci...,4.956130,7,1 solar plant(s). Capacity: 9.8 MW

Great! Now we have built a out all of our special properties for the template.

It's time to turn this back into **json format** we orient by records because that gives us an array of dictionaries.

In [29]:
ok_json = json.loads(df.to_json(orient='records'))

But because we had to normalize the hierarchy of the geojson document we now have to rebuild the hierarchy so this json document becomes geojson, the function below does just that:

In [31]:
def process_to_geojson(file):
    geo_data = {"type": "FeatureCollection", "features":[]}
    for row in file:
        this_dict = {"type": "Feature", "properties":{}, "geometry": {"type": "Point"}}
        for key, value in row.items():
            key_names = key.split('.')
            if key_names[0] == 'geometry':
                temp = value.replace('[', '').replace(']', '')
                list_values = temp.split(",")
                this_dict['geometry'][key_names[1]] = [float(val) for val in list_values]
            if str(key_names[0]) == 'properties':
                this_dict['properties'][key_names[1]] = value
        geo_data['features'].append(this_dict)
    return geo_data

In [32]:
geo_format = process_to_geojson(ok_json)

Now we can export this to a file! And don't forget to open it and prepend this variable assignment to the beginning of the file:

`infoData = `

In [33]:
#Variable name
with open('geo-data12-11-12am.js', 'w') as outfile:
    outfile.write("var infoData = ")
#geojson output
with open('geo-data12-11-12am.js', 'a') as outfile:
    json.dump(geo_format, outfile)